// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.card {
	margin-top: 50px;
}

.card-header {
	font-size: 20px;
}

.card-body {
	margin-top: 10px;
	font-size: 12px;
	margin-left: auto;
	margin-right: auto;
}

td {
  padding-top:20px;
  padding-bottom:20px;
  padding-right:20px;   
}

table {
	margin-left: auto;
	margin-right: auto;
}

.back-to-list {
	margin-left: 10px;
	padding-bottom:20px;
}

.name-detail {
	text-align: center;
}

